html, body {
    background-color: rgb(10,20,30);
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    display: flex;
    border: none;
    /*height: 40px; */  
}
input:focus {
    outline: none; 
}
.calc_container{
    /*background-color: white; */
    border-radius: 2.5%;
    height: auto;
    width: 350px;
    display: block;
    flex-direction: row;
    justify-content: center;
}
.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
button{
    background-color: white;
    height: 83.44px;
    border-radius: 10px;
}
.display{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 10px;
}
.result{
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    font-size: 20px;
    justify-items: right;
}
.calchist{
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    font-size: 16px;
    justify-items: right;
}
.fa-backspace{
    color: black;
    opacity: 70%;
}
.number{
    width: auto;
    font-size: 18px;
}
.operator{
    font-size: 26px;
}
.clear, .zero{
    grid-column: span 2;
    font-size: 18px;
}
.remove{
    font-size: 18px;
}